*node_modules*
*__pycache__*
*.vscode*
*.z_tempCodeRunner*
*.z_temp*
*.z_CR*
*.json
!*package.json*
*log/*
*teste*
*Teste*
*TESTE*
*blueStacks*
*googleOAuth*
*package-lock.json*
*logTime.txt*
*src/scripts/objects/*.js
*sync.ffs_lock
*_TEMP.js